pyyaml
requests
pytest
ipykernel
anthropic
google-genai
python-dotenv
ipykernel
aiohttp
aiolimiter
pytest-asyncio
fastapi
uvicorn
pydantic>=2.0.0
instructor[openai, anthropic, google-genai]
streamlit
-e .